---
import { SITE } from 'astrowind:config';
import logo from '~/assets/images/logo.svg';
import Image from './common/Image.astro';
---

<div class="w-36 h-auto flex items-center">
  <Image class={'aspect-ratio'} src={logo.src} alt="Logo" />
</div>
